<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1>Admin Login Page</h1>
<form id="login-form" action="/admin/auth/login" method="post">
    <div class="input-group">
        <label for="email">이메일</label>
        <input id="email" type="email" name="email" required autofocus>
    </div>
    <div class="input-group">
        <label for="password">비밀번호</label>
        <input id="password" type="password" name="password" required>
    </div>
    <button id="login" type="submit" class="btn">로그인</button>
</form>
</body>
</html>