<meta charset="UTF-8">
<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>-->
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>-->
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2">
            <%- include ('nav') -%>
        </div>
        <div class="col-10">
            <div id="content">
                <table id="select">
                    <tr>
                    <tr>
                        <td class="manage">
                            <select id="year" class="manage form-select">
                                <option value="전체">전체</option>
                                <option value="1">2021</option>
                                <option value="2">2022</option>
                                <option value="3">2023</option>
                            </select>
                        </td>
                        <td class="manage">
                            <select id="month" class="manage form-select">
                                <option value="전체">전체</option>
                                <option value="1">1월</option>
                                <option value="2">2월</option>
                                <option value="3">3월</option>
                                <option value="4">4월</option>
                                <option value="5">5월</option>
                                <option value="6">6월</option>
                                <option value="7">7월</option>
                                <option value="8">8월</option>
                                <option value="9">9월</option>
                                <option value="10">10월</option>
                                <option value="11">11월</option>
                                <option value="12">12월</option>
                            </select>
                        </td>
                        <td class="manage">
                            <select id="day_range" class="manage form-select">
                                <option value="전체">전체</option>
                                <option value="1">10일 이전</option>
                                <option value="2">11~20일</option>
                                <option value="3">21일 이후</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary">filter</button>
                        </td>
                        <td>
                            <div style="margin-left: 30px;" id="pagination"></div>
                        </td>
                    </tr>
                </table>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">주문일자 <i class="fas fa-sort" id="order_date"></i></th>
                        <th scope="col">연락처</th>
                        <th scope="col">주소</th>
                        <th scope="col">상세주소</th>
                        <th scope="col">선택 상품</th>
                        <th scope="col">배송상태 <i class="fas fa-sort" id="shipment_status"></i></th>
                        <th scope="col">비고</th>
                    </tr>
                    </thead>
                    <tbody id="order_list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    (function ($) {
        $(async function () {
            let filter = {
                year: '전체',
                month: '전체',
                day_range: '전체',
            }

            const sortFlags = {
                order_date: true,
                shipment_status: true,
            }

            function showOrders(orders) {
                $('#order_list').empty();
                $.each(orders, function (index, item) {
                    const orderRow = makeOrderRow(item);
                    $('#order_list').append(orderRow);
                })
            }

            let orders = await getOrdersFromServer(filter);
            orders = setOrdersInfo(orders.data);
            showOrders(orders);

            $(".btn, .btn-primary").css({marginLeft: "5px", height: "40px"})
                .click(async function () {
                    const filter = {
                        year: $('#year').val(),
                        month: $('#month').val(),
                        day_range: $('#day_range').val(),
                    };
                    let orders = await getOrdersFromServer(filter);
                    orders = setOrdersInfo(orders.data);
                    showOrders(orders);
                });

            $("#order_date").click(async function () {
                const sign = sortFlags.order_date ? 1 : -1;
                sortFlags.order_date = !sortFlags.order_date;
                const sortedOrders = orders.sort(function (order1, order2) {
                    const order1Time = new Date(order1.createdAt).getTime();
                    const order2Time = new Date(order2.createdAt).getTime();
                    return sign * (order1Time - order2Time);
                });
                showOrders(sortedOrders);
            });

            $("#shipment_status").click(async function () {
                const sign = sortFlags.shipment_status ? 1 : -1;
                sortFlags.shipment_status = !sortFlags.shipment_status;
                const sortedOrders = orders.sort(function (order1, order2) {
                    const assignNumberToShipmentStatus = function(shipmentStatus) {
                        if (shipmentStatus === '배송요청') return 1;
                        else if (shipmentStatus === '배송전') return 2;
                        else if (shipmentStatus === '배송완료') return 3;
                    }
                    const order1ShipmentStatus = assignNumberToShipmentStatus(order1.shipmentStatus);
                    const order2ShipmentStatus = assignNumberToShipmentStatus(order2.shipmentStatus);
                    return sign * (order1ShipmentStatus - order2ShipmentStatus);
                });
                showOrders(sortedOrders);
            });
        });
    })(jQuery);

    function setOrdersInfo(orders) {
        return orders;
    }

    async function getOrdersFromServer(filter) {
        try {
            const ret = await axios.post('/admin/order/filter', {
                filter: filter
            }, {
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            console.log(ret);
            return ret;
        } catch (err) {
            console.log("상품 데이터 조회 오류:", err);
            return undefined;
        }
    }

    async function changeShipmentStatus(event, phone) {
        try {
            const axiosResult = await axios.post('/admin/order/shipment', {
                id: event.target.name,
                status: event.target.value,
                phone: '0' + phone,
            }, {
                'Content-Type': 'application/json'
            })
        } catch (err) {
            console.log("배송 상태 변경 오류:", err);
            return ;
        }
    }

    // TODO: order code와 NO를 구분하기
    function makeOrderRow(order) {
        const createdAt = order.createdAt.split('T')[0].replace(/-/g, '.');
        let orderRow = '<tr>';
        orderRow += `<td scope="col">
                            <a onclick="window.open('/admin/order/detail?order_id=${order.id}', '주문수정', 'width=700,height=1000,left=500,top=50,status=no,menubar=no,toolbar=no,resizable=no')">
                                ${order.id}
                            </a></td>`;
        orderRow += `<td scope="col"><p>${createdAt}</p></td>`;
        orderRow += `<td scope="col"><p>${order.phone}</p></td>`;
        orderRow += `<td scope="col"><p>${order.address}</p></td>`;
        orderRow += `<td scope="col"><p>${order.addressDetail}</p></td>`;
        orderRow += `<td scope="col"><p>${order.productName}</p></td>`;
        if (order.shipmentStatus === "배송전") {
            orderRow += `<td scope="col"><select onchange="changeShipmentStatus(event, ${order.phone})" class="form-select" name="${order.id}">
                            <option selected>${order.shipmentStatus}</option>
                            <option value="배송요청">배송요청</option>
                            <option value="배송완료">배송완료</option>
                          </select></td>`
        } else if (order.shipmentStatus === "배송요청") {
            orderRow += `<td scope="col"><select onchange="changeShipmentStatus(event, ${order.phone})" class="form-select" name="${order.id}">
                            <option selected>${order.shipmentStatus}</option>
                            <option value="배송전">배송전</option>
                            <option value="배송완료">배송완료</option>
                          </select></td>`
        } else {
            orderRow += `<td scope="col"><select onchange="changeShipmentStatus(event, ${order.phone})" class="form-select" name="${order.id}">
                            <option selected>${order.shipmentStatus}</option>
                            <option value="배송요청">배송요청</option>
                            <option value="배송완료">배송완료</option>
                          </select></td>`
        }
        orderRow += `<td scope="col"><button type="button" class="btn btn-light"><p>삭제</button></p></td>`;
        orderRow += '</tr>'
        return orderRow;
    }

</script>
</body>
</html>