<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>-->
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>-->
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <style>

    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-3">
            <%- include ('nav') -%>
        </div>
        <div class="col-9">
            <div id="content">
                <table id="select">
                    <tr>
                        <td class="manage">
                            <select id="gender" class="manage form-select">
                                <option value="전체">전체</option>
                                <option value="남성">남성</option>
                                <option value="여성">여성</option>
                            </select>
                        </td>
                        <td class="manage">
                            <select id="age" class="manage form-select">
                                <option value="전체">전체</option>
                                <option value="20~24세">20~24세</option>
                                <option value="25~29세">25~29세</option>
                                <option value="30~34세">30~34세</option>
                                <option value="35~39세">35~39세</option>
                                <option value="40~44세">40~44세</option>
                                <option value="45세 이상">45세 이상</option>
                            </select>
                        </td>
                        <td class="manage">
                            <select id="price" class="manage form-select">
                                <option value="전체">전체</option>
                                <option value="1만 5천원">1만 5천원</option>
                                <option value="2만원">2만원</option>
                                <option value="2만 5천원">2만 5천원</option>
                                <option value="3만원">3만원</option>
                                <option value="3만 5천원">3만 5천원</option>
                                <option value="4만원">4만원</option>
                                <option value="4만 5천원">4만 5천원</option>
                                <option value="5만원">5만원</option>
                            </select>
                        </td>
                        <td class="manage">
                            <select id="category" class="manage form-select">
                                <option value="전체">전체</option>
                                <option value="화장품">화장품</option>
                                <option value="식품">식품</option>
                                <option value="건강">건강</option>
                                <option value="리빙">리빙</option>
                                <option value="패션잡화">패션잡화</option>
                                <option value="디지털">디지털</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary">filter</button>
                        </td>
                        <td>
                            <div style="margin-left: 30px;" id="pagination"></div>
                        </td>
                    </tr>
                </table>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">코드</th>
                        <th scope="col">상품명</th>
                        <th scope="col">상품유형</th>
                        <th scope="col">썸네일</th>
                        <th scope="col">상품소개</th>
                        <th scope="col">판매처</th>
                        <th scope="col">노출수</th>
                        <th scope="col">좋아요수</th>
                        <th scope="col">주문수</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="product_list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {
        $(async function() {
            let filter = {
                gender: '전체',
                age_id: '전체',
                price_id: '전체',
                category_id: '전체'
            }

            function showProducts(products) {
                $('#product_list').empty();
                $.each(products, function (index, item) {
                    const productRow = makeProductRow(item);
                    $('#product_list').append(productRow);
                })
            }

            let products = await getProductsFromServer(filter);
            products = setProductsInformation(products.data);
            showProducts(products);

            $(".btn, .btn-primary").css({ marginLeft: "5px", height: "40px" })
                .click(async function() {
                    const filter = {
                        gender: document.getElementById('gender').value,
                        age_id: ageRangeToId(document.getElementById('age').value),
                        price_id: priceRangeToId(document.getElementById('price').value),
                        category_id: categoryToId(document.getElementById('category').value),
                    };
                    console.log(filter);
                    let products = await getProductsFromServer(filter);
                    products = setProductsInformation(products.data);
                    showProducts(products);
                });
        })
    })(jQuery);

    // TODO: 노출수 등 계산하여 추가하기
    function setProductsInformation(products) {
        return products;
    }

    async function getProductsFromServer(filter) {
        try {
            const ret = await axios.post('/admin/product/filter', {
                filter: filter
            }, {
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            console.log(ret);
            return ret;
        } catch (err) {
            console.log("상품 데이터 조회 오류:", err);
            return undefined;
        }
    }

    function makeProductRow(product) {
        console.log("product in makeProductTable:", product);
        let productRow = '<tr>';
        productRow += `<td scope="col"><p>${ product.code }</p></td>`;
        productRow += `<td scope="col" style="width:200px">
                        <p onclick="window.open('/admin/product/detail/${ product.id }', '상품수정', 'width=900,height=1000,left=500,top=50')">
                        ${ product.name }
                        </p></td>`;
        productRow += `<td scope="col"><p>${ product.category }</p></td>`;
        productRow += `<td scope="col"><p><img src=${product.thumbnail } alt="thumbnail" width="150" height="150"></p></td>`;
        productRow += `<td scope="col"><p>${ product.description }</p></td>`;
        productRow += `<td scope="col"><p>${ product.brand }</p></td>`;
        productRow += `<td scope="col"><p>${ product.viewCount }</p></td>`;
        productRow += `<td scope="col"><p>${ product.likeCount }</p></td>`;
        productRow += `<td scope="col"><p>${ product.orderCount }</p></td>`;
        productRow += `<td scope="col"><button type="button" class="btn btn-light"><p>삭제</button></p></td>`;
        productRow += '</tr>'
        return productRow;
    }

    async function getDataAboutFilter() {
        let filterValue = {
            gender: document.getElementById('gender').value,
            age: ageRangeToId(document.getElementById('age').value),
            price: priceRangeToId(document.getElementById('price').value),
            category: categoryToId(document.getElementById('category').value),
        };
        try {
            const axiosResult = await axios({
                method: 'post',
                url: 'http://localhost:4242/admin/product/filter',
                data: {
                    gender: filterValue.gender,
                    age: filterValue.age,
                    price: filterValue.price,
                    category: filterValue.category,
                }
            });
            return (axiosResult.data);
        } catch (err) {
            console.err("필터값 전달 오류:", err);
        }
        console.log('제출 완료');
    }

    function ageRangeToId(range) {
        if (range === '전체')
            return '전체';
        let startAge = 20;
        const ageRange = [];
        for (let idx = 0; idx < 6; ++idx) {
            if (idx === 5) {
                ageRange.push(`${startAge + idx * 5}세이상`);
            } else {
                ageRange.push(`${startAge + idx * 5}~${startAge + idx * 5 + 4}세`);
            }
        }
        return (ageRange.indexOf(range) + 1);
    }

    function priceRangeToId(range) {
        if (range === '전체')
            return '전체';
        let startPrice = 15000;
        const priceRange = [];
        for (let idx = 0; idx < 8; ++idx) {
            const tmpPrice = startPrice + idx * 5000;
            if (tmpPrice % 10000 === 0) {
                priceRange.push(`${tmpPrice / 10000}만원`);
            } else {
                priceRange.push(`${parseInt(tmpPrice / 10000)}만 ${parseInt((tmpPrice % 10000) / 1000)}천원`);
            }
        }
        return (priceRange.indexOf(range) + 1);
    }

    function categoryToId(type) {
        if (type === '전체')
            return '전체';
        const categoryArr = [
            '화장품', '식품', '건강', '리빙', '패션잡화', '디지털'
        ];
        return (categoryArr.indexOf(type) + 1);
    }

    // (function ($) {
    //     $(function () {
    //         // if (sessionStorage.getItem('login') !== 'true') {
    //         //     alert("로그인이 필요한 서비스입니다.")
    //         //     location.href = "https://gifty4u.com/admin"
    //         // }
    //         window.fs_test = $('#gender').fSelect({
    //             placeholder: '성별',
    //             numDisplayed: 2,
    //             overflowText: '{n} selected',
    //             noResultsText: 'No results found',
    //             searchText: 'Search',
    //             showSearch: false
    //         });
    //         window.fs_test = $('#age').fSelect({
    //             placeholder: '연령',
    //             numDisplayed: 2,
    //             overflowText: '{n} selected',
    //             noResultsText: 'No results found',
    //             searchText: 'Search',
    //             showSearch: false
    //         });
    //         window.fs_test = $('#price').fSelect({
    //             placeholder: '가격대',
    //             numDisplayed: 2,
    //             overflowText: '{n} selected',
    //             noResultsText: 'No results found',
    //             searchText: 'Search',
    //             showSearch: false
    //         });
    //         window.fs_test = $('#category').fSelect({
    //             placeholder: '카테고리',
    //             numDisplayed: 2,
    //             overflowText: '{n} selected',
    //             noResultsText: 'No results found',
    //             searchText: 'Search',
    //             showSearch: false
    //         });
    //
    //
    //         let container = $('#pagination');
    //         container.pagination({
    //             pageSize: 5,
    //             dataSource: function (done) {
    //                 let genders = $('#gender option:selected').map(function () {
    //                     return this.value;
    //                 }).get();
    //
    //                 let ages = $('#age option:selected').map(function () {
    //                     return this.value;
    //                 }).get();
    //
    //                 let prices = $('#price option:selected').map(function () {
    //                     return this.value;
    //                 }).get();
    //
    //                 let categories = $('#category option:selected').map(function () {
    //                     return this.value;
    //                 }).get();
    //
    //                 fetch("https://gifty4u.com/admin/product/filter", {
    //                     method: "POST",
    //                     headers: {
    //                         "Content-Type": "application/json",
    //                     },
    //                     body: JSON.stringify({
    //                         genders: genders,
    //                         ages: ages,
    //                         prices: prices,
    //                         categories: categories
    //                     }),
    //                 }).then((response) => response.json())
    //                     .then((res) => {
    //                         console.log(res.data)
    //                         done(res.data)
    //                     }).catch((err) => {
    //                     console.log(err.error)
    //                 })
    //             }
    //             ,
    //             callback: function (data, pagination) {
    //                 $('#product_list').empty();
    //                 var dataHtml = '';
    //                 $.each(data, function (index, product) {
    //                     dataHtml += `<tr> <td scope="col"><p>${product.product_code}</p></td>
    //                   <td scope="col" style><p onclick="window.open('https://gifty4u.com/admin/product/detail?product_code=${product.product_code}','상품수정','width=900,height=1000,left=500,top=50')">${product.product_name}</p></td>
    //                   <td scope="col"><p>${product.category}</p></td>
    //                   <td scope="col"><p><img src="${product.thumbnail}" alt="" style="width:100px; height: 100px;"/></p></td>
    //                   <td scope="col"><p>${product.title}</p></td>
    //                   <td scope="col"><p>${product.brand}</p></td>
    //                   <td scope="col"><p>${product.exposure_count}</p></td>
    //                   <td scope="col"><p>${product.love_count}</p></td>
    //                   <td scope="col"><p>${product.order_count}</p></td>
    //                   <td scope="col"><button type="button" class="btn btn-light" onclick="deleteProduct('${product.product_code}')">삭제</button></td></tr>`
    //                 });
    //                 $("#product_list").append(dataHtml);
    //             }
    //         })
    //     });
    // })(jQuery);
    //
    // function filter() {
    //     let container = $('#pagination');
    //     container.pagination({
    //         pageSize: 5,
    //         dataSource: function (done) {
    //             let genders = $('#gender option:selected').map(function () {
    //                 return this.value;
    //             }).get();
    //
    //             let ages = $('#age option:selected').map(function () {
    //                 return this.value;
    //             }).get();
    //
    //             let prices = $('#price option:selected').map(function () {
    //                 return this.value;
    //             }).get();
    //
    //             let categories = $('#category option:selected').map(function () {
    //                 return this.value;
    //             }).get();
    //
    //             fetch("https://gifty4u.com/admin/product/filter", {
    //                 method: "POST",
    //                 headers: {
    //                     "Content-Type": "application/json",
    //                 },
    //                 body: JSON.stringify({
    //                     genders: genders,
    //                     ages: ages,
    //                     prices: prices,
    //                     categories: categories
    //                 }),
    //             }).then((response) => response.json())
    //                 .then((res) => {
    //                     console.log(res.data)
    //                     done(res.data)
    //                 }).catch((err) => {
    //                 console.log(err.error)
    //             })
    //         },
    //
    //         callback: function (data, pagination) {
    //             $('#product_list').empty();
    //             var dataHtml = '';
    //             $.each(data, function (index, product) {
    //                 dataHtml += `<tr> <td scope="col"><p>${product.product_code}</p></td>
    //                   <td scope="col" style="width:200px"><p onclick="window.open('https://gifty4u.com/admin/product/detail?product_code=${product.product_code}','상품수정','width=900,height=1000,left=500,top=50')">${product.product_name}</p></td>
    //                   <td scope="col"><p>${product.category}</p></td>
    //                   <td scope="col"><p><img src="${product.thumbnail}" alt="" style="width:100px; height: 100px;"/></p></td>
    //                   <td scope="col"><p>${product.title}</p></td>
    //                   <td scope="col"><p>${product.brand}</p></td>
    //                   <td scope="col"><p>${product.exposure_count}</p></td>
    //                   <td scope="col"><p>${product.love_count}</p></td>
    //                   <td scope="col"><p>${product.order_count}</p></td>
    //                   <td scope="col"><button type="button" class="btn btn-light" onclick="deleteProduct('${product.product_code}')">삭제</button></td></tr>`
    //             });
    //             $("#product_list").append(dataHtml);
    //         }
    //     })
    // }
    //
    //
    //
    // function deleteProduct(product_code) {
    //     fetch("https://gifty4u.com/admin/product", {
    //         method: "DELETE",
    //         headers: {
    //             "Content-Type": "application/json",
    //         },
    //         body: JSON.stringify({
    //             product_code: product_code,
    //         }),
    //     }).then((response) => response.json())
    //         .then((res) => {
    //             console.log(res.data)
    //             if (res.data === 'delete') {
    //                 alert("제품이 삭제됐습니다")
    //                 window.location.reload();
    //             }
    //         }).catch((err) => {
    //         alert(err.error)
    //         console.log(err.error)
    //     })
    //
    // }
</script>
</body>
</html>