<!-- views/head.ejs -->
<meta charset="UTF-8">
<title>Navigation Bar</title>

<!-- views/header.ejs -->
<div class="wrapper">
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/app">앱관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/product/manage">상품관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/product/register">상품추가</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/order/manage">배송관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user" tabindex="-1" aria-disabled="true">회원관리</a>
            </li>
        </ul>
    </nav>
</div>

<!-- views/footer.ejs -->
<!--<p class="text-center text-muted">© Copyright 2014 The Awesome People</p>-->